body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    margin: 150px auto 0 auto;
    max-width: 600px;
}

.hide {
    display: none;
}

.start {
    text-align: center;
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}

.feedback {
    font-style: normal;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: aqua;
    border-top: 2px solid grey;
}